/* drum kit stylesheet */
/* ################################################ */
/* global */
h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(163, 157, 157);
}

h5{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
}
/* div{
    border: black solid 1px;
} */
body{
    overflow: hidden;
    background-color: rgba(53, 52, 52, 0.486);

    
}
body{
    /* background-image: url(/images/istockphoto-1145602814-612x612.jpg); */
    background-image: url("/images/istockphoto-1145602814-612x612.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}
* {
    box-sizing : border-box;
    -moz-box-sizing : border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
/* ################################################ */
/* main container */
#main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
}
/* ################################################ */
#space-div{
    height: 5vh;
}
#tital-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 98vw;
    background-color: rgb(34, 34, 34);
    
    box-shadow: dimgray 1px 1px 1px 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* ################################################ */
#keys-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    width: 98vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(34, 34, 34);
    
    box-shadow: dimgray 1px 1px 0px 1px;
    }
        .drum{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 10vw;
            height: 10vh;
            border: gray solid 5px;
            /* border: black solid 1px; */
            border-radius: 3px;
            background-color: dimgray;
            box-shadow: rgb(31, 30, 30) 1px 1px 10px 1px;
        }
/* ################################################ */
#drumkit-div{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 100vw;
    
}
    #equalizer-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 45vh;
        width: 98vw;
        border-radius: 20px;
        border: black solid 1px;
        background-color: rgb(34, 34, 34);
        box-shadow: dimgray 1px 1px 10px 1px;
        }
            #viz-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                width: 95%;
                height: 81%;
                border-radius: 10px;
                border: gray solid 10px;
                box-shadow: rgb(87, 84, 84) 2px 2px 20px 2px;
                background-color: black;
            }

                .box-lights{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 150px;
                    height: 250px;
                    border-radius: 5px;
                    border: rgb(75, 75, 75) solid 5px;
                }
                
                .light-one{
                    width: 130px;
                    height: 30px;
                    border: rgb(68, 68, 68) solid 1px;
                    /* background-color: yellowgreen;
                    box-shadow:
                    0 0 5px 5px #fff,  
                    0 0 5px 5px #f0f,
                    0 0 5px 10px rgb(49, 233, 25); */
                }


/* ################################################ */
#foot-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background-color: rgba(22, 21, 29, 0.918);
}
